- courses = Course.ongoing_or_future
- hours = courses.pluck('start_time').uniq.to_a.tap { |r| r << Time.parse('2000-01-01 21:00 UTC') }.uniq.sort
- days = (1..6).to_a.tap { |r| r << 0 }

%table.horarios
  %tbody
    %tr.header
      %td.day
      - days.each do |wday|
        %td.day= local_wday(wday)
    - hours.each do |time|
      %tr
        %td.header.hour<
          = time.hour
          - if time.min != 0
            %span.min<>= time.min
          - else
            %span.min<> 00
        - days.each do |wday|
          %td.course
            - courses.includes(:track).where(weekday: wday, start_time: time).order('tracks.code').each do |course|
              %div{'class' => course.css_prefix}
                = course.track.code.sub("_", " ") + (course.hashtag.try { |s| " #{s} *"} || "") + (course.track.code == "TAP_KIDS" ? " **" : "") + (course.future? ? "***" : "")
