%textarea{style: "width: 100%", rows: 10}= File.read(File.join(Rails.root, "app", "assets", "stylesheets", "horarios.scss")) + tracks_color_css

%textarea{style: "width: 100%", rows: 10}
  = render 'horarios'

= render 'horarios'
