%h1
  = teacher.name
  >
  Efectivo en mano

= render 'shared/teacher_owed_cash'

- if @total > 0
  = link_to 'Registrar entrega', transfer_cash_income_money_admin_teacher_path(teacher), :method => :post, :class => 'btn btn-primary', :'data-confirm' => "Seguro desea registrar que se entregaron #{number_to_currency @total}?"
