%h1 Últimas asistencias por nivel

.well
  %p
    Se muestran los alumnos que asistieron desde mes anterior.

  %p
    Se incluye la fecha última clase de
    - AdminStudentsRecentDropoffListing::TRACKS.each_with_index do |code, i|
      - if i != 0
        ,
      %code= code

    junto a la cantidad de clases desde el mes anterior
    por cada nivel.

= render_listing :admin_students_recent_dropoff

