.jumbotron
  %h1 Bienvenido a Swing City
  - unless current_user
    %p
      ¿Tenés usuario?
      = link_to 'Ingresá', new_user_session_path, class: "btn btn-primary btn-lg"

    %p
      ¿Sos nuevo?
      = link_to 'Registrate', new_user_registration_path, class: "btn btn-lg"

%p
  = link_to 'tomar asistencia', room_path, class: "btn btn-lg btn-default"
