- content_for :header do
  %h1
    Elegir sede

%ul#course_list
  - colors = ["bg-red", "bg-teal", "bg-blue", "bg-yellow"]
  - @places.each_with_index do |place, i|
    %li{class: colors[i % colors.size]}
      = link_to room_choose_course_path(place) do
        = place.name
