%h2 Aplicación Android
%p
  Descargar

  %ul
    %li
      %a(href="https://play.google.com/store/apps/details?id=org.odk.collect.android&hl=en") ODK Collect
    %li
      %a(href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=en") ZXing Barcode Scanner

  Ver instrucción en
  %a(href="https://github.com/bcardiff/themis/wiki/Instalaci%C3%B3n-cliente-Android") esta guía
