%h1 Bienvenido

%p
  Descargue la applicación para mandar los formularios siguiendo
  = link_to "estas instrucciones", "https://github.com/bcardiff/themis/wiki/Instalaci%C3%B3n-cliente-Android"
  \ .
