/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require listings
 *= require devise_bootstrap_views
 *= require bootstrap-datepicker3
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.missing {
  a {
    color: red;
  }
  .badge {
    background-color: red;
  }
}

.day {
  width: 140px;
  height: 100px;
  vertical-align: top;
  border: 1px solid #ccc;
  font-size: 0.8em;
  .course_log {
    span {
      margin-left: 7px;
      width: 60px;
      display: inline-block;
      float: left;
    }
    label {
      float: left;
    }
  }
}

.subtotal {
  background-color: #f7f7f9;
  font-weight: bold;
}

.status-well {
  text-align: center;

  h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h1, h2, h3, label {
    font-weight: 100;
  }

  .col-md-6 h1, .col-md-12 h1 {
    font-weight: 200;
  }
}

.calendar-header {
  text-align: right;
  font-size: 1.4em;
  a {
    font-size: 1.4em;
  }
}
