/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require listings
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "sass-flex-mixin/flexbox";

$red: #d80000;

body {
  padding-top: 50px;
}

.day {
  width: 140px;
  height: 100px;
  vertical-align: top;
  border: 1px solid #ccc;
  font-size: 0.8em;
  color:#555555;

  a {
    color:#555555;
  }
  .course_log {
    span.course-link {
      margin-left: 7px;
      width: 60px;
      display: inline-block;
    }

    &.missing {
      a {
        color: #d80000;
      }
      color: #d80000;
    }
  }

  .attention i {
    color: #d80000;
  }
}

.tooltip.top {
  .tooltip-inner {
    background-color:white;
    border:1px black solid;
    color:black;
  }
}

.subtotal {
  background-color: #f7f7f9;
  font-weight: bold;
}

.status-well {
  text-align: center;

  h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h1, h2, h3, label {
    font-weight: 100;
  }

  .col-md-6 h1, .col-md-12 h1 {
    font-weight: 200;
  }
}

.calendar-header {
  text-align: right;
  font-size: 1.4em;
  a {
    font-size: 1.4em;
    position: relative;
    top: 2px;
    margin: 0 5px;
  }
}

.blink {
  animation: blink 1s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.missing-payment {
  color: $red;
}

.modal-wrapper {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1050;
}

.cashier-dashboard-menu {
  h4 {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
  }
}

.dropdown-menu-lg li a {
  font-size: 1.3em;
}

.pack-form .form-group {
  margin-bottom: 0px;
}

th.rotate {
  /* Something you can count on */
  height: 120px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(-12.5px, 86px)
    rotate(270deg);
  width: 30px;
}
th.rotate > div > span {
  border-top: 1px solid #ccc;
  padding: 0px 10px;
  width: 120px;
  display: inline-block;
}

@media (min-width: 768px) {
  .sm-dropdown-menu-right {
    // @extend .dropdown-menu-right;
    left: auto;
    right: 0;
  }
}
