/* horarios */

.horarios {
  border-spacing: 0px;
  border-collapse: separate;
  font-weight: bold;
}

.horarios a, .horarios a:hover {
  text-decoration: none;
}

.horarios td {
  border: 1px solid white;
}

.horarios .min {
  vertical-align: super;
  font-size: 0.7em;
  margin-left: 3px;
}

.horarios .header {
  white-space: nowrap;
  text-align: center;
}

.horarios td.day, .horarios td.hour, .horarios td.course {
  vertical-align: middle;
  text-align: center;
}

.horarios td.course {
  background-color: #eeeff2;
  text-align: center;
  vertical-align: top;
  padding: 10px 3px;
  width: 115px;
  border-radius: 2px;
}

.horarios td.hour {
  width: 40px;
}

.horarios td.hour, .horarios td.day {
  background-color: #e7e8e9;
}

.horarios .course > div {
  margin: 2px;
  color: white;
  border-radius: 2px;
  white-space: nowrap;
  padding: 2px 4px;
}

.horarios .practica {
  background-color: #FFC001;
  vertical-align: middle;
  text-align: center;
  padding: 10px 3px;
}

.horarios div.create_course {
  background-color: #ffffff;
  border: 1px dashed black;
  color: black;
  font-weight: normal;
  visibility: hidden;
}

.horarios td:hover div.create_course {
  visibility: visible;
}
