%h1 Listado de cursos

= link_to "Calendario", admin_courses_path
\ |
= link_to "Listado", listing_admin_courses_path

%br

- Place.active.each do |place|
  %h2= place.name

  %table.horarios
    %tbody
      = render partial: "horarios_rows", locals: { place: place, courses: Course.ongoing_or_future.where(place: place) }

  %hr
